.account {
  display: flex;

  .container {
    flex: 9;

    .accountUpper {
      .accountBanner {
        height: 20rem;
        position: relative;

        .accountBannerPic {
          height: 16rem;
          object-fit: cover;
          width: 100%;
        }
        
        .accountUserPic {
          position: absolute;
          width: 9.4rem;
          height: 9.4rem;
          object-fit: cover;
          border-radius: 50%;
          right: 0;
          left: 0;
          margin: auto;
          top: 10.3rem;
          border: 4px solid rgb(243, 241, 241);
        }
      }
      
      .accountUser {
        display: flex;
        flex-direction: column;
        align-items: center;

        .accountUserName {
          color: rgb(38, 58, 95);
          margin-top: .5rem;
          font-size: 1.5rem;
        }
      }
    }
    
    .accountLower {
      display: flex;
    }
  }
}