/*

    The styling in this file was inspired by a previous project I made

    Link to previous project code: https://github.com/AbulSyed/post-app/blob/master/post-client/src/views/AddPost.vue
    ( CODE AT BOTTOM INSIDE STYLE TAGS )

    Alot of changes were made hence most style code here is different to code in above link

*/

.heading-1 {
  display: flex;
  justify-content: center;
  margin-top: 7rem;
  align-self: center;
  color: rgb(38, 58, 95);
  font-weight: 500;
}

form {
  display: flex;
  flex-direction: column;
  margin: 2.5rem auto;
  width: 75%;

  textarea {
    background: rgb(238, 238, 238);
    border: 2px solid rgb(221, 221, 221);
    border-radius: 5px;
    padding: 1.2rem;
    margin: .75rem 0;
    outline: none;

    &:focus {
      border: 2px solid rgb(170, 170, 170);
    }
  }
  input[type='file'] {
    margin: .75rem 0;
  }
  button {
    padding: .25rem 0;
    cursor: pointer;
    transition: all .6s;
    border: none;
    border-radius: 5px;

    &:hover {
      background: rgb(209, 209, 209);
    }
  }
}