@import 'mixins.scss';

.bio {
    margin-top: 4rem;
    padding: 1rem;
    background: #fff;
    height: 10rem;
    border-radius: 0.625rem;
    margin-left: -5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    min-width: 350px;

    position: relative;

    .edit {
        position: absolute;
        left: 352px;
        top: 5px;
        color: gray;
        @include hover-transition;

        &:hover {
            color: rgb(109, 109, 109);
        }
    }

    p {
        padding: .7rem 0;
    }
}

.bio-form {
    .form {
        @include flex-column;

        input {
            padding: .5rem;
            margin: 1rem 0;
            width: 200px;
        }

        .postFormBtn {
            background-color: rgb(1, 46, 129);
            border-radius: .3rem;
            width: 225px;
            border: none;
            font-weight: 500;
            padding: .4rem;
            color: rgb(255, 255, 255);
            @include hover-transition;

            &:hover {
                background-color: rgb(3, 59, 182);
            }
        }
    }
}