.chat {
    display: flex;
    max-width: 1300px;
    margin: auto;

    /* EXISTING CHATS */
    .existingChats {
        flex: 3;
        padding: 0.7rem;
        color: rgb(38, 58, 95);
        font-weight: 700;
        margin-top: 1rem;

        .existingChatsContainer {
            width: 60%;
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
            background-color: rgb(245, 240, 240);
            padding: 0.625rem;
            border-radius: 0.625rem;
            cursor: pointer;
            transition: all .5s;

            &:hover {
                background-color: rgb(228, 228, 228);;
            }
          }

          .existingChatsImg {
            object-fit: cover;
            margin-right: 1.25rem;
            border-radius: 50%;
            width: 2.5rem;
            height: 2.5rem;
          }
    }
    
    /* MAIN CHAT SECTION */
    .mainChat {
        flex: 6;
        padding: 0.7rem;

        .mainChatContainer {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .mainChatMessage {
                height: calc(100vh - 120px);
                overflow-y: scroll;
                padding-right: 0.7rem;

                .mainChatMessages {
                    display: flex;
                    flex-direction: column;
                    margin-top: 1.25rem;

                    &.self {
                        align-items: flex-end;
                    }

                    &.self .messageText {
                        background-color: #e9eaec;
                        color: #000;
                    }
                }

                .messageImgAndText {
                    display: flex;
                    align-items: center;

                    .messageImage {
                        width: 2rem;
                        height: 2rem;
                        border-radius: 50%;
                        object-fit: cover;
                        margin-right: .7rem;
                    }
                    .messageText {
                        font-weight: 400;
                        border-radius: 0.3rem;
                        color: #fff;
                        background-color: #333897;
                        padding: .7rem;
                    }
                }

                .messageTime {
                    color: rgb(146, 146, 146);
                    font-size: .75rem;
                    margin-top: .7rem;
                }
            }

            .messageDiv {
                display: flex;
                margin-top: -.5rem;

                .messageDivInput {
                    padding: .2rem;
                    border-radius: 5px;
                    border: 1px solid rgb(202, 202, 202);
                    outline: none;
                    width: 85%;
                    margin-right: .5rem;
                }
                .messageDivBtn {
                    width: 15%;
                    padding: 0 .8rem;
                    border: none;
                    border-radius: 0.3rem;
                    background-color: #333897;
                    color: #fff;
                    cursor: pointer;
                    transition: all .6s;

                    &:hover {
                        background-color: #505392;
                    }
                }
            }
        }
    }
    
    /* CREATE NEW CHAT */
    .newChat {
        flex: 3;
        margin-top: 1rem;
        padding: 0.625rem;
    }
}