/*

    A online tutorial was followed to write the style code written below

    Link to online tutorial: https://www.youtube.com/watch?v=HggSXt1Hzfk&t
    GitHub link: https://github.com/safak/youtube/blob/chat-app/client/src/pages/messenger/messenger.css

    This tutorial was followed as a guidance and heavy modifications were made

    The tutorial used CSS, while here I used SCSS to write the styling

    All the class names were changed and most of the styling was adapted for my app

*/
@import 'mixins.scss';

.chat {
    display: flex;
    max-width: 1300px;
    margin: auto;

    /* EXISTING CHATS */
    .existingChats {
        flex: 3;
        padding: 0.7rem;
        @include color-blue;
        font-weight: 700;
        margin-top: 1rem;
    }
    
    /* MAIN CHAT SECTION */
    .mainChat {
        flex: 6;
        padding: 0.7rem;

        .mainChatContainer {
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            .mainChatMessage {
                height: calc(100vh - 120px);
                padding-right: 0.7rem;
                overflow-y: scroll;

                .mainChatMessages {
                    @include flex-column;
                    margin-top: 1.25rem;

                    &.other {
                        align-items: flex-end;
                    }

                    &.other .messageText {
                        background-color: #e9eaec;
                        color: #000;
                    }
                }

                .messageImgAndText {
                    @include flex-center;

                    .messageImage {
                        @include image-small-round;
                        margin-right: .7rem;
                    }
                    .messageText {
                        font-weight: 400;
                        border-radius: 0.3rem;
                        color: #fff;
                        background-color: #333897;
                        padding: .7rem;
                    }
                }

                .messageTime {
                    color: rgb(146, 146, 146);
                    font-size: .75rem;
                    margin-top: .7rem;
                }
            }

            .messageDiv {
                display: flex;
                margin-top: -.5rem;

                .messageDivInput {
                    padding: .2rem;
                    border-radius: 5px;
                    border: 1px solid rgb(202, 202, 202);
                    outline: none;
                    width: 85%;
                    margin-right: .5rem;
                }
                .messageDivBtn {
                    width: 15%;
                    margin-left: 1rem;
                    border: none;
                    border-radius: 0.3rem;
                    background-color: #333897;
                    color: #fff;
                    @include hover-transition;

                    &:hover {
                        background-color: #505392;
                    }
                }
            }

            .newChatDialog {
                margin-top: 1rem;
            }
        }
    }
    
    /* CREATE NEW CHAT */
    .newChat {
        flex: 3;
        margin-top: 1rem;
        padding: 0.625rem;
    }
}