@import 'mixins.scss';

.commentInput {
    background: rgb(238, 238, 238);
    border: 2px solid rgb(221, 221, 221);
    border-radius: 5px;
    padding: .6rem;
    margin-bottom: .75rem;
    outline: none;
}

.comments {
    .comment {
        @include flex-center;
        background-color: rgb(238, 237, 237);
        border-radius: .8rem;
        padding: .8rem;
        margin-bottom: 1rem;

        .user-img {
            margin: 0 .8rem;
            @include image-small-round;
        }
    }
}
