@import 'mixins.scss';

.heading {
    @include color-blue;
    margin-bottom: 0.625rem;
    font-size: 1.5rem;
    text-align: center;
}
.connectionsList {
    list-style: none;

    .link {
        text-decoration: none;
        color: #000;
    }

    .connectionItem {
        @include flex-around-center;
        padding: 0.5rem;
        background-color: rgb(238, 237, 237);
        margin-bottom: 0.9rem;
        border-radius: 0.625rem;
        @include hover-transition;
        
        .connectionName {
            @include color-blue;
        }

        &:hover {
            background-color: rgb(214, 214, 214);
        }
    }
    .connectionImg {
        @include image-small-round;
    }

    .altText {
        @include color-blue;
        text-align: center;
    }
}