.dialogWrapper {
    width: 25rem;
    
}
.eventInput {
    background: rgb(238, 238, 238);
    border: 2px solid rgb(221, 221, 221);
    border-radius: 5px;
    padding: .8rem;
    margin-bottom: .75rem;
    outline: none;
}