@import 'mixins.scss';

.nav {
    @include flex-center;
    top: 0;
    position: sticky;
    padding: .8rem;
    background: #fafafa;
    @include box-shadow-1;
    z-index: 2;

    .link {
        text-decoration: none;
        color: #000;
        transition: all .4s;

        &:hover {
            color: #7a7979;
        }
    }

    /* UNICONNECT */
    .logo {
        flex: 50%;
        cursor: pointer;
        height: 40px;
        margin-left: 130px;
        margin-right: 150px;
    }

    /* SEARCH ICON */
    .search-icon {
        cursor: pointer;
    }

    /* OTHER - CHAT, PROFILE, LOGOUT ICONS */
    .other {
        @include flex-around-center;
        flex: 50%;
        margin-left: 2rem;
        list-style: none;

        li {
            cursor: pointer;
        }
    }
}