@import 'mixins.scss';

.post {
    padding: 2rem;
    margin: 1.5rem 0;
    background: #fff;
    border-radius: 0.4rem;
    @include box-shadow-2;
    
    .post-toolbar {
        margin-bottom: 1rem;
        @include flex-between-center;

        .img-name {
            @include flex-between-center;

            .postFormImg {
                @include image-large-round;
                margin-right: 0.625rem;
            }
            
            .posted-by {
                @include color-blue;
            }
        }

        .post-date {
            color: gray;
        }

        .delete {
            cursor: pointer;
            transition: all .2s;
    
            &:hover {
                color: rgb(119, 119, 119);
            }
        }
    }

    .post-photo {
        width: 25rem;
        height: 25rem;
        margin-left: 25%;
    }
    .post-text {
        color: gray;
        padding: .7rem 0;
        font-size: 1rem;
        font-weight: 500;
    }
    .post-footer {
        @include flex-between-center;

        .like {
            cursor: pointer;
            transition: all .2s;
    
            &:hover {
                color: #2446f5;
            }
        }
    }
}