@import 'mixins.scss';

.search-container {
  padding: 3rem;
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden;

  .profiles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;

    .profile {
      @include flex-around-center;
      @include color-blue;
      background: rgb(240, 240, 240);
      border-radius: .625rem;
      text-decoration: none;
      margin-top: 1rem;
      margin-bottom: 1rem;
      padding: 1.5rem;
      @include hover-transition;

      &:hover {
        background: rgb(228, 228, 228);
      }

      .profile-pic {
        border-radius: .625rem;
        height: 8rem;
      }

      .name {
        font-size: 3rem;
      }

      .symbol {
        font-size: 4rem;
        @include hover-transition;

        &:hover {
          color: gray;
        }
      }
    }
  }
}