@import 'mixins.scss';

.showEventDialog {
    margin: 1rem;
}
.showEventWrapper {
    width: 200px;

    h4, p {
        margin: .8rem 0;
    }

    .attendees {
        display: flex;
    }

    .studentImaeg {
        @include image-small-round;
        margin-right: 0.625rem;
    }
}