.studentChat {
    width: 70%;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    background-color: rgb(245, 240, 240);
    padding: 0.625rem;
    border-radius: 0.625rem;
    cursor: pointer;
    transition: all .5s;

    &:hover {
        background-color: rgb(228, 228, 228);;
    }
}

.studentGroupChat {
    display: flex;
    align-items: center;
}

.studentChatImg {
    object-fit: cover;
    margin: 0 .5rem;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
}